*{
	margin:0;
	padding:0;
} 

#quran{
    direction: rtl;
}
.header{
	min-height: 100vh;
	width:100%;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/1.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.header .text{
	background:rgba(0,0,0,0.5);
	position:absolute;
	text-align:center;
	font-family: 'Amiri', serif;
	font-size:16px; 
	margin-left:200px;
	margin-top:100px; 
	color:white;
	width:70%;
	
}
.container-container{
	background-color:black;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:10px;
}
.container{
	background-color:white;
    width:85%;
	margin:auto;
	margin-bottom:10px;
	text-align:center;
	padding-top:80px;

}
.container h1{
	color:white;
	padding:10px;
	background:black;
	font-size:25px;
}
.container h2{
	margin-top:70px;
	font-size:20px;
}
p,ul,li{
	text-align:justify;
	margin:20px;
	font-size:18px;

}
h3{
	text-align:center;
	background-image:url(images/1.jpg);
	padding:5px;
	margin:10px;
	color:white;
	font-size:20px;
}
.pp{
	text-align:center;
	font-size:20px;
	
}
.footer{
	
	background-color:black;
	margin-top:10px;
	color:white;
	

}
@media(max-width: 700px){
	.header .text{
	position:absolute;
	text-align:center;
	font-family: 'Amiri', serif;
	font-size:12px; 
	margin-left:80px;
	margin-top:100px; 
	color:white;
	width:70%;
	
}
.header {
	
	min-height: 90vh;
}
}